<!-- templates/relatorios/adicionar_relatorio.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Adicionar Relatório de Progresso{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Adicionar Relatório de Progresso</h1>

        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}

            <!-- Estilizando o formulário com o Bootstrap -->
            <div class="form-group">
                {{ form.usuario.label_tag }}
                {{ form.usuario|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.progresso.label_tag }}
                {{ form.progresso|add_class:"form-control" }}
            </div>
            <div class="form-group">
                {{ form.recomendacoes.label_tag }}
                {{ form.recomendacoes|add_class:"form-control" }}
            </div>

            <!-- Botão de submissão -->
            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
            <a href="{% url 'relatorios' %}" class="btn btn-secondary mt-3 ml-2">Voltar para Relatórios</a>
        </form>
    </div>
{% endblock %}
